<!DOCTYPE html>

<html>
    <head>
    <title>API Cronicas Gelo e Fogo</title>
    </head>

    <body>
    <h3>
        Acesse a Api dos livros clicando <a href="https://song-of-ice-fire-api.herokuapp.com/books">aqui</a> ou acessando através do https://song-of-ice-fire-api.herokuapp.com/books
    </h3>
    <h3>
        Acesse a Api dos Personagens principais clicando <a href="https://song-of-ice-fire-api.herokuapp.com/characters">aqui</a> ou acessando através do link https://song-of-ice-fire-api.herokuapp.com/characters
    </h3>
    </body>
</html>
